
{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": false
      }
    },
    "target": "es2020",
    "keepClassNames": true,
    "experimental": {
      "plugins": [
        ["@swc/plugin-styled-components", {
          "displayName": true,
          "ssr": false
        }]
      ]
    }
    
  },
  "module": { "type": "es6" },
  "sourceMaps": false,
  "minify": false
}
